body {
	margin: 0;
	padding: 8px;
	margin-bottom: auto;
}

blockquote blockquote {
	margin-left: 0em;
}

form {
	margin-bottom: 0px;
}

.blotter {
	font-size:0.7em;
}
.blotterhead {
	text-align: center;
}
.blotter-entries {
	padding-top: 0.7em;
}
textarea {
	width: 397px;
}

/* ---------- captcha ----------*/
.captchawrap {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	height: 32px;
	cursor: pointer;
	line-height: 32px;
	font-size: 0;
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.captchaimage {
	width: 150px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
}
.msg {
	display: inline-block;
	font-size: 14px;
	line-height: normal;
	vertical-align: middle;
	pointer-events: none;
}
.captchawrap:hover .msg {
	border-bottom: 1px dashed currentColor;
	margin-bottom: -1px;
}
.rotting-indicator {
	height: 2px;
	width: 100%;
	background: -webkit-linear-gradient(left, rgb(242, 16, 20) 0px, rgb(255, 133, 0) 22px, rgb(231, 208, 35) 56px, rgb(154, 223, 52) 99px, rgb(58, 196, 65) 150px);
	background: -o-linear-gradient(left, rgb(242, 16, 20) 0px, rgb(255, 133, 0) 22px, rgb(231, 208, 35) 56px, rgb(154, 223, 52) 99px, rgb(58, 196, 65) 150px);
	background: linear-gradient(to right, rgb(242, 16, 20) 0px, rgb(255, 133, 0) 22px, rgb(231, 208, 35) 56px, rgb(154, 223, 52) 99px, rgb(58, 196, 65) 150px);
	position: absolute;
	bottom: 0;
	left: 0;
}
.cw-running .captchaimage {
	-webkit-animation: rot 0.4s ease 2s 1 normal forwards;
	     -o-animation: rot 0.4s ease 2s 1 normal forwards;
	        animation: rot 0.4s ease 2s 1 normal forwards;
}
.rotten-msg {
	opacity: 0;
}
.cw-running .rotten-msg {
	-webkit-animation: rot-msg 0.4s ease 2s 1 normal forwards;
	     -o-animation: rot-msg 0.4s ease 2s 1 normal forwards;
	        animation: rot-msg 0.4s ease 2s 1 normal forwards;
}
.cw-running .rotting-indicator {
	-webkit-animation: rot-countdown 2s linear normal forwards;
	     -o-animation: rot-countdown 2s linear normal forwards;
	        animation: rot-countdown 2s linear normal forwards;
}
.captchawrap:not(.cw-initial) .captcha-show,
.cw-initial .captchaimage,
.cw-initial .rotten-msg,
.cw-initial .rotting-indicator {
	display: none;
}
@-webkit-keyframes rot-countdown {
  from {width: 150px;}
  to {width: 0px; display: none;}
}
@-o-keyframes rot-countdown {
  from {width: 150px;}
  to {width: 0px; display: none;}
}
@keyframes rot-countdown {
  from {width: 150px;}
  to {width: 0px; display: none;}
}
@-webkit-keyframes rot {
	from {opacity: 1}
	to {opacity: 0.1}
}
@-o-keyframes rot {
	from {opacity: 1}
	to {opacity: 0.1}
}
@keyframes rot {
	from {opacity: 1}
	to {opacity: 0.1}
}
@-webkit-keyframes rot-msg {
	from {opacity: 0}
	to {opacity: 1}
}
@-o-keyframes rot-msg {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes rot-msg {
	from {opacity: 0}
	to {opacity: 1}
}
/* ---------- /captcha ---------- */

form .trap {
	display:none;
}

.postarea {
	text-align: center;
}

.postarea table {
	margin: 0px auto;
	text-align: left;
}

.thumb {
	border: none;
	float: left;
	margin: 2px 20px;
	transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}

.navbar {
	display: block;
}

.overlay-menu {
	position:fixed;
	top:0px;
	left:30px;
	border-left:1px #CCC solid;
	border-right:1px #CCC solid;
	border-bottom:1px #CCC solid;
	padding:3px;
	border-radius: 0px 0px 5px 5px;
	z-index:100
}

.code_full {
	border: #666666 dashed 1px;
	background: #EFEFEF;
}

pre {
	font-family: Consolas, Lucida Console, monospace !important;
	margin: 0em;
}

.code_part {
	border: #DFDFDF dashed 1px;
	background: #EFEFEF;
	width: auto;
	max-height: 400px;
	overflow: auto;
	padding:0px;
	margin:0px;
}

.reflinkpreview {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: 1px #666 dashed;
	box-shadow: #666 0px 0px 10px;
	border-radius: 5px;
}

.actual-reflinkpreview {
	opacity: 1;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
	/* -webkit-transform: scale3d(1,1,1);
	        transform: scale3d(1,1,1); */
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: -webkit-transform 0.2s, opacity 0.2s;
	-o-transition: -o-transform 0.2s, opacity 0.2s;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, -webkit-transform 0.2s;
	-o-transition: opacity 0.2s, -o-transform 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s;
}

.pre-hidden {
	opacity: 0;
	-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	     -o-transform: scale(0.8);
	        transform: scale(0.8);
/* 	-webkit-transform: scale3d(1.1,1.1,1);
        transform: scale3d(1.1,1.1,1); */
}

.reflinkpreview .postnode {
	border-spacing: 0;
}

.nothumb {
	float: left;
	background: #eee;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}

.reply blockquote, blockquote :last-child {
	margin-bottom: 0em;
}

.reflink a {
	color: #333333;
	text-decoration: none;
}

.reflink a:hover{
	color: #800000;
}

.reflink a:visited{
	color: #333333;
}

.reply .filesize {
	margin-left: 20px;
}

.replieslist {
	font-size:11px;
}

.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}

.replypage .replylink {
	display: none;
}

.pagelist {
	max-width: 600px;
}

.admin {
	color: #800080;
	font-weight: normal;
}

.mod {
	color: #FF0000;
	font-weight: normal;
}

.vip {
	color: #336600;
	font-weight: normal;
}

#watchedthreads {
	position: absolute;
	background-color: #F0E0D6;
	border: 1px dotted #EEAA88;
	border-top: 0px none;
}

#watchedthreadsdraghandle {
	text-align: center;
	font-family: Trebuchet MS;
	cursor: move;
}

#watchedthreadlist {
	padding: 3px;
	font-size: 0.8em;
}

#watchedthreadsbuttons {
	position: absolute;
	bottom: 3px;
	left: 3px;
}

.spoiler {
	color: black;
	background-color: black;
}

.spoiler:hover {
	color: inherit;
	background-color: inherit;
}

.spoiler * {
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.spoiler * * {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.spoiler:hover * {
	opacity: inherit;
}

.spoiler {
	-webkit-transition: color 0.2s, background-color 0.2s;
	-o-transition: color 0.2s, background-color 0.2s;
	transition: color 0.2s, background-color 0.2s;
}

.extrabtns, [id^=dnb] {
	vertical-align: middle;
	display: inline-block;
	line-height: 8px;
	font-size: 0;
}

.btngroup {
	white-space: nowrap;
}

.reply ._country_ {
	margin-left: 4px;
}

.extrabtns a {
	font-size: 0px;
}

.b-icon {
	border-radius: 3px;
	-webkit-transition-property: background-color, color, box-shadow, fill;
	-webkit-transition-property: background-color, color, fill, -webkit-box-shadow;
	-o-transition-property: background-color, color, box-shadow, fill;
	transition-property: background-color, color, box-shadow, fill;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	   transition-duration: 0.3s;
}
.b-icon, .i-icon {
	margin: 0 2px;
	border-radius: 3px;
}
.i-icon {
	color: white;
}
.b-icon:active {
	-webkit-transform: translate(0, 1px);
	    -ms-transform: translate(0, 1px);
	        -o-transform: translate(0, 1px);
	   transform: translate(0, 1px);
}

.i-icon.i-pin {
	background-color: #2D83DE;
}
.i-icon.i-lock {
	background-color: #FF4800;
}

.sb-l { border-radius: 3px 0 0 3px; margin-right: 0; }
.sb-c { border-radius: 0px; margin: 0;}
.sb-r { border-radius: 0 3px 3px 0; margin-left: 0;}

.getnewposts {
	background-position: -16px -16px;
}

.closebox, .delete {
	background-position: -16px 0px;
} 

.ban {
	background-position: 0px -32px;
}

.dandb {
	background-position: -16px -32px;
}

.lock {
	background-position: -32px -32px;
}

.unlock {
	background-position: -48px -32px;
}

.menu-item {
	display: block;
}

img.latex, object.latex  {
	vertical-align: middle;
}

.shrink {
	max-width: 960px;
}

.prettyprint br {
	display: none;
}

.reply {
	max-width: 100%;
}

.reply, .highlight {
	box-sizing: border-box;
}

.reflinkpreview .reply {
	box-shadow: none;
	margin: 0px;
}

.prettyprint {
	overflow: auto;
	max-height: 500px;
	background: rgba(255, 255, 255, 0.62);
}

.inline-pp {
	display: inline;
}

.dice {
	color: white;
background: rgb(135, 106, 172);
padding: 0 3px;
border-radius: 5px;
}

.doubledash {
	display: none;
}

.replies table, .replies table tbody {
	display: block;
}

.prettyprint-container {
	display: inline-block; 
	margin-left: 0px;
	margin-bottom: 2px;
	margin-top: 2px;
}

.qreplyform {
	padding: 3px;
	border-radius: 8px;
	white-space: nowrap;
	z-index: 9999;
	opacity: 0.85;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.qreplyform:hover {
	opacity: 1;
}

.postboxcontrol {
	position: absolute;
	top: 3px;
	right: 5px;
}

.xlink {
	cursor: pointer;
}

/* Node insertion detection #snivystuff */
@-o-keyframes nodeInserted {  
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }  
}
@keyframes nodeInserted {  
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }  
}

@-webkit-keyframes nodeInserted {  
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }
}
 /* div[id*=op], td[id*=reply] */
.postmessage {
	animation-duration: 0.001s;
	-o-animation-duration: 0.001s;
	-ms-animation-duration: 0.001s;
	-moz-animation-duration: 0.001s;
	-webkit-animation-duration: 0.001s;
	animation-name: nodeInserted;
	-o-animation-name: nodeInserted;
	-ms-animation-name: nodeInserted;        
	-moz-animation-name: nodeInserted;
	-webkit-animation-name: nodeInserted;
}

.youtube.embed {
	width: 368px;
	height: 237px;
	background-position: 50% 50%;
	background-size: 100%;
	margin-right: 8px;
}
.youtube.wrapper:before {
	position: absolute;
	width: 368px;
	height: 237px;
	content: '';
	background: url('../images/yt-ol.png');
	display: block;
	cursor: pointer;
}
.youtube.wrapper:hover, .vimeo.wrapper:hover, .coub.wrapper:hover {
	cursor: pointer;
}
.youtube.wrapper:hover:before {
	position: absolute;
	width: 368px;
	height: 237px;
	content: '';
	background: url('../images/yt-ol.png') 0 -237px;
	display: block;
	pointer-events: none;
}
.youtube.unwrapping:before {
	position: absolute;
	width: 368px;
	height: 237px;
	content: '';
	background: url('../images/yt-ol.png') 0 -474px;
	display: block;
}
.yt-title-overlay {
	display: block;
	color: rgb(238, 238, 238) !important;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 16.5px;
	box-shadow: inset 0 120px 90px -90px rgba(8,8,8,.8);
	height: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 30px;
	padding: 8px 12px 0 12px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 2px;
}
.yt-title-overlay:hover {
	text-decoration: underline;
	color: rgba(255, 255, 255, 1) !important;
}

.vimeo.embed {
	width: 368px;
	height: 210px;
	background-position: 50% 50%;
	background-size: 100%;
	margin-right: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.vimeo.wrapper:before {
	position: absolute;
	width: 368px;
	height: 210px;
	content: '';
	background: url('../images/vi-ol.png');
	display: block;
	cursor: pointer;
}
.vimeo.wrapper:hover:before {
	position: absolute;
	width: 368px;
	height: 210px;
	content: '';
	background: url('../images/vi-ol.png') 0 -210px;
	display: block;
	pointer-events: none;
}
.vimeo.unwrapping:before {
	position: absolute;
	width: 368px;
	height: 210px;
	content: '';
	background: url('../images/vi-ol.png') 0 -420px;
	display: block;
}
.vi-title-overlay {
	position: relative;
	display: inline;
	top: 12px;
	left: 10px;
	color: #00ADEF !important;
	background: rgba(23, 35, 34, 0.75);
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	font-family: 'Helvetica Neue','Helvetica','Arial'!important;
	font-size: 20px;
	padding: 2px 4px;
	text-decoration: none;
}
.vi-title-overlay:hover {
	color: #FF5210 !important;
	text-shadow: none !important;
}

.coub.embed {
	width: 368px;
	height: 207px;
	background-position: 50% 50%;
	background-size: 100%;
	margin-right: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.coub.wrapper:before {
	position: absolute;
	width: 368px;
	height: 207px;
	content: '';
	background: url('../images/co-ol.png');
	display: block;
	cursor: pointer;
}
.coub.wrapper:hover:before {
	position: absolute;
	width: 368px;
	height: 207px;
	content: '';
	background: url('../images/co-ol.png') 0 -207px;
	display: block;
	pointer-events: none;
}
.coub.unwrapping:before {
	position: absolute;
	width: 368px;
	height: 207px;
	content: '';
	background: url('../images/co-ol.png') 0 -414px;
	display: block;
}
.co-title-overlay {
	position: relative;
	display: inline;
	top: 12px;
	left: 10px;
	color: rgba(255, 255, 255, 0.85) !important;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Helvetica Neue','Helvetica','Arial'!important;
	font-size: 15px;
	text-decoration: none;
	text-shadow: 0 0 12px #000;
}
.co-title-overlay:hover {
	color: rgba(255, 255, 255, 1) !important;
}

.menu-sect {
	display: none;
}

.dcxt-notifier {
	position: fixed;
	bottom: 25px;
	right: 25px;
	padding: 5px;
	box-shadow: 0 0 20px #CCC !important;
	color: #F00;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
}

.uibutton {
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
	text-decoration: none;
	padding: 0 14px;
}
.uibutton:hover {
	color: #c77405;
	border: 1px solid #fbcb09;
	background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
}
#interface-notifier {
display: inline-block;
text-align: center;
padding: 10px;
position: fixed;
z-index: 10;
}


.bnr {
display: inline-block;
position: relative;
height: 100px;
width: 300px;
}
.bnrsupdate {
display: inline-block;
height: 39px;
width: 49px;
position: absolute;
background: url(../images/bnr-overlay.png);
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: opacity 0.2s;
-o-transition: opacity 0.2s;
-moz-transition: opacity 0.2s;
}
.bnr:hover .bnrsupdate {
	opacity: 0.5;
}
.bnrsupdate:hover {
	opacity:1!important;
}
.bnr-wrap {
text-align: center;
height: 100px;
}
#rswapper {
	text-align: center;
}
.movie img { cursor: pointer;}
.sending-loading {
	vertical-align: middle;
	display: none;
	margin: -10px 0;
}
.form-sending .sending-loading {
	display: inline;
}
.form-sending input[type=submit] {
	display: none;
}
proven.prooflabel {
	font-wight: bold;
}
.disproven.prooflabel {
	text-decoration: line-through;
	color: inherit;
}
#wild_thread_appeared {
	display: block;
text-align: center;
border: none;
}
.bubble {
	position: relative;
	background: #ADB400;
	border: #000 solid 2px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	padding: 11px 10px;
	color: #000;
	text-shadow: none;
}

.bubble:after {
	content: "";
	position: absolute;
	top: 14px;
	left: -11px;
	border-style: solid;
	border-width: 6px 11px 6px 0;
	border-color: transparent #ADB400;
	display: block;
	width: 0;
	z-index: 1;
}

.bubble:before {
	content: "";
	position: absolute;
	top: 13px;
	left: -14px;
	border-style: solid;
	border-width: 7px 12px 7px 0;
	border-color: transparent #000000;
	display: block;
	width: 0;
	z-index: 0;
}
.lination {
	display: inline-block!important;
	vertical-align: middle;
}
.lination td {
	vertical-align: top;
}

#postclone {
	max-width: 100%;
	overflow: visible;
}
#postclone table {
	display: block;
}
@media (min-width: 600px) {
	.replymode, .passvalid, .catalogmode {
		margin-top: -20px; 
	}
}


/*==CATALOG==*/
#catalog-contents {
	font-size:  0;
}
.icon {
	height: 16px;
	width: 16px;
	fill: currentColor;
}
.i-20 {
	height: 20px;
	width: 20px;
}
.i-16in20 {
	padding: 2px;
}
.cat-entry {
	display: inline-block;
	width: 208px;
	padding: 0;
	position: relative;
	margin: 8px;
	vertical-align: top;
}
.cat-card {
	box-sizing: border-box;
	width: 208px;
	padding: 3px;
	overflow: hidden;
	height: 100%;
	-webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
	-webkit-transition: box-shadow 0.2s, background-color 0.2s;
	-o-transition: box-shadow 0.2s, background-color 0.2s;
	transition: box-shadow 0.2s, background-color 0.2s;
	z-index: 2;
}
.cat-card:hover {
}
.expand-on-hover-enabled .cat-entry:not(.thumbExpanded):hover .cat-card {
	position: absolute;
	height: auto;
	
	top: 0px;
}
.expand-on-hover-enabled .ce-text.cat-entry:not(.thumbExpanded):hover .cat-card {
	min-height: 208px;
}
.expand-on-hover-enabled .ce-gallery.cat-entry:not(.thumbExpanded):hover .cat-card {
	min-height: 337px;
}
.ce-text.cat-entry {
	height: 208px;
}
.ce-gallery.cat-entry {
	height: 337px;
}
.smallThumb {
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 0;
	float: left;
	position: relative;
	text-decoration: none;
}
.nofile-removed {
	box-sizing: border-box;
	height: 50px;
	width: 50px;
	line-height: 46px;
}
.smallThumb img {
	vertical-align: middle;
}
.cat-infoline {
	position: relative;
	height: 16px;
	line-height: 16px;
	opacity: 0.8;
}
.ce-gallery .cat-infoline {
	padding: 0 3px;
}
.ce-text .cat-infoline {
	display: inline-block;
	margin-left: 4px;
}
.namedate-overlay {
	position: relative;
	width: 145px;
	overflow: hidden;
	cursor: pointer;
}
.ce-gallery .namedate-overlay {
	top: 0;
	right: 0;
	display: inline-block;
	height: 16px;
	text-align: center;
	-webkit-transition: width 0.2s, background-color 0.2s;
	-o-transition: width 0.2s, background-color 0.2s;
	transition: width 0.2s, background-color 0.2s;
}
.counters {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
.ce-gallery .cat-poster, .ce-gallery .cat-date {
	left: 0;
}
.cat-date {
	white-space: nowrap;
}
.namedate-overlay .cat-poster, .namedate-overlay .cat-date {
	position: absolute;
	-webkit-transition: top 0.3s;
	-o-transition: top 0.3s;
	transition: top 0.3s;
}
.date-on.namedate-overlay .cat-poster {
	top: -16px;
	pointer-events: none;
	opacity: 0.5;
}
.date-on.namedate-overlay .cat-date {
	top: 0px;
}
.name-on.namedate-overlay .cat-poster {
	top: 0px;
}
.name-on.namedate-overlay .cat-date {
	top: 16px;
	pointer-events: none;
	opacity: 0.5;
}
.op-number {
	font-weight: bold;
}
.i-layer-2 {
	display: none;
}
.cat-prv {
	margin-right: 7px;
}
.indicators {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}
.ce-text .indicators {

}
.hidden-on {
	border-radius: 2px;
}
.cat-infoline:not(:last-child) {
	margin-bottom: 1px;
}
.infolabel {
	display: inline-block;
	line-height: 16px;
	width: 42px;
	height: 16px;
	white-space: nowrap;
}
.il-page {
	width: 39px;
}
.actor {
	cursor: pointer;
}
.actor, .actor span {
	color: inherit;
}
.infolabel span {
	min-width: 14px;
	display: inline-block;
	text-align: center
}
.ctx {
	font-size: 12px;
}
.cat-infoline *, .infolabel * {
	vertical-align: middle;
}
.op-prv {
	display: inline-block;
	width: 74px;
}
.cat-date {
	display: inline-block;
	font-style: italic;
}
.cat-date-long {
	width: 142px;
}
.op-prv {
	width: 75px;
}
.ce-opcontent {
	margin-top: 9px;
	font-size: 12px;
	text-align: center;
}
.ce-opcontent h5 {
	font-size: 13px;
	margin: 0;
	margin-bottom: 5px;
}
.cat-entry:after {
	content: "";
	height: 40px;
	width: 206px;
	bottom: 1px;
	left: 1px;
	font-size: 0;
	position: absolute;
	pointer-events: none;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.cat-entry:not(.thumbExpanded):hover:after {
	opacity: 0;
}/* 
.bigThumb .icon {
	position: absolute;
	bottom: 3px;
	right: 3px;
	background: black;
	padding: 2px;
	opacity: 0;
	transition: opacity 0.3s;
	cursor: pointer;
} */
.bigThumb:hover .icon {
	opacity: 0.5;
}
.bigThumb:hover .icon:hover {
	opacity: 1;
}
.ce-text .bigThumb {
	position: absolute;
	height: 56px;
	width: 56px;
	line-height: 50px;
	text-align: center;
	-webkit-backdrop-filter: none;
	        backdrop-filter: none;
	top: 1px;
	left: 1px;
	padding: 3px;
	box-sizing: border-box;
	z-index: 2;
}
.thumbExpanded .bigThumb {
	opacity: 1;
	height: 206px;
	width: 206px;
	line-height: 200px;
	-webkit-backdrop-filter: blur(2px);
	        backdrop-filter: blur(2px);
	z-index: 1;
}
.ce-gallery .bigThumb {
	padding: 0;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 3px;
}
.bigThumb {
	-webkit-transition-property: height, width, line-height;
	-o-transition-property: height, width, line-height;
	transition-property: height, width, line-height;
	-webkit-transition-duration: 0.3s;
	        -o-transition-duration: 0.3s;
	   transition-duration: 0.3s;
}

.bigThumb img, .bigThumb video, .bigThumb audio {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.ce-text .bigThumb img, .ce-text .bigThumb video, .ce-text .bigThumb audio {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}
.thumbExpanded img, .thumbExpanded video, .thumbExpanded audio {
	opacity: 1!important;
	pointer-events: all;
}
.thumbExpanded .icon {
	opacity: 0!important;
}
.cat-thumb-shrink {
	position: absolute;
	top: 3px;
	left: 3px;
}
.c-poster span {
	float: left;
}
.foradmin-show {
	display: none;
}
.ce-heda {
	position: relative;
}

/* cat-bt-embed insertion detection */
@-o-keyframes embed-image-insert {  
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }  
}
@keyframes embed-image-insert {  
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }  
}

@-webkit-keyframes embed-image-insert {  
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }
}
.cat-bt-embed {
	animation-duration: 0.001s;
	-o-animation-duration: 0.001s;
	-ms-animation-duration: 0.001s;
	-moz-animation-duration: 0.001s;
	-webkit-animation-duration: 0.001s;
	animation-name: embed-image-insert;
	-o-animation-name: embed-image-insert;
	-ms-animation-name: embed-image-insert;        
	-moz-animation-name: embed-image-insert;
	-webkit-animation-name: embed-image-insert;
}
#catalog-controls {
	font-size: 12px;
}
#catalog-controls label {
	white-space: nowrap;
	margin-right: 4px;
}
.hideHidden .thread-hidden {
	display: none;
}
.button-group {
	display:inline-block;
	vertical-align: middle;
	height: 20px;
	font-size: 0;
	border-radius: 6px;
	padding: 2px;
	-webkit-transition: opacity 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
	-webkit-transition: box-shadow 0.3s, opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
	transition: box-shadow 0.3s, opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
	-o-transition: box-shadow 0.3s, opacity 0.3s, background-color 0.3s, -o-transform 0.3s;
	transition: box-shadow 0.3s, opacity 0.3s, background-color 0.3s, transform 0.3s;
	transition: box-shadow 0.3s, opacity 0.3s, background-color 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
	transition: box-shadow 0.3s, opacity 0.3s, background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
	outline: none;
	height: 20px;
	vertical-align: middle;
	padding: 2px;
	border: none;
	margin: 4px 8px 4px 0;
}

.bg-button {
	display: inline-block;
	height: 20px;
	width: 24px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: background-color 0.3s, color 0.3s;
	-o-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}

#cat-search {
	padding-left: 4px;
	font-size: 12px;
}
.bg-button:first-child {
	border-radius: 4px 0 0 4px;
}
.bg-button:last-child {
	border-radius: 0 4px 4px 0;
}
.disabled.button-group {
	opacity: 0.5;
	pointer-events: none;
	-webkit-transform: scale(0.85);
	    -ms-transform: scale(0.85);
	        -o-transform: scale(0.85);
	   transform: scale(0.85);
}
.ce-text .ci-op-link {
	display: block;
	margin-left: 54px!important;
}
.ci-op-link a {
	display: block;
}
.cat-prv {
	display: inline-block;
}
.cat-prv svg {
	pointer-events: none;
}

input::-webkit-input-placeholder {opacity: 0; } 
input:-moz-placeholder {opacity: 0; }

.onsmall-show {
	display: none;
}

@media only screen and (max-width: 768px) {
	#delform {
		margin: 0 2px;
	}
	.onsmall-show {
		display: initial;
	}
  html,body,.content-background {
    margin:0;
    padding:0!important;
  }
  body {
      font-size: 0.8em!important;
  }
  .postnode, .postnode tbody, .postnode tr, .postnode .reply, .postnode .highlight {
    display: inline-block;
    clear: both;
    width: 100%;
  }
  .postnode {
    margin-bottom: 3px;
  }
  .postinfo, .reflink {
    font-size: 11px!important;
  }
  .border-left, .border-right, .topbar-left, .topbar-right {
    display: none;
  }
  .filesize {
    margin-left:20px;
  }
  .thumb {
    margin: 2px 8px 2px 0.5em;
  }
  blockquote {
    margin:0.5em;
  }
  code,blockquote pre {
    white-space:pre-wrap;
  }
  .uibutton {
    padding: 3px 8px;
    margin: 0 2px;
    line-height: 24px;
  }
  textarea {
    width:calc(100% - 4px)!important;
    max-width:100%;
  }
  .omittedposts {
    display:inline-block;
    margin:0 0.5em 3px;
  }
  .postarea table,.postarea input[name="name"],.postarea input[name="captcha"],.postarea input[name="subject"],.postarea input[name="imagefile"] {
    width:100%;
  }
  label[for^=disable_name] {
  	display: block;
  }
  .postarea input[type=submit] {
    width:calc(100% + 2px);
    margin-top:4px;
  }
  .postarea table tr:nth-child(4) {
    font-size:0;
  }
  .maintable {
    width:100%;
  }
  .captchawrap {
  	display:block;
  	margin: 0px auto;
  	margin-top:4px;
  }
  .bottom-left,.bottom-right,.bottom-center {
    display:none;
  }
  #overlay_menu {
    left: 0;
  }
  .postblock {
    display: none!important;
  }
  .maintable hr {
      margin:0;
  }
  input::-webkit-input-placeholder {opacity: 1; } 
  input:-moz-placeholder {opacity: 1; }
  hr {
  	margin: 0!important;
  }
  .subject-submit {
  	font-size: 0;
  }
  .posttypeindicator {
  	font-size: 11px;
  	display: block;
  	text-align: center;
  }
  .touch-mode #postclone, .touch-mode #postclone tbody, .touch-mode #postclone tr {
  	width:100%;
  	display: block;
  }
  .touch-mode #postclone td {
  	width: calc(100% - 4px);
  	display: block;
  }
  .touch-mode #postclone textarea, .touch-mode #postclone input[name="name"],.touch-mode #postclone input[type="submit"],.touch-mode #postclone input[name="captcha"],.touch-mode #postclone input[name="subject"] {
    width:calc(100% - 5px)!important;
  }
  label[for=nofile_clone] {
  	font-size: 12px;
  }
  .actual-reflinkpreview {
  	left: 0!important;
  	width: 100%;
  	box-sizing: border-box;
  	display: block;
  }
  .actual-reflinkpreview tbody,
  .actual-reflinkpreview tr,
  .actual-reflinkpreview .postnode {
  	display: block;
  }
  .actual-reflinkpreview .reply {
  	 width: 100%;
  	display: block;
  	float: left;
  }
  .pre-hidden {
  	-webkit-transform: scale(1,0);
	    -ms-transform: scale(1,0);
	     -o-transform: scale(1,0);
	        transform: scale(1,0);
	/* -webkit-transform: scale3d(1,0,1);
	        transform: scale3d(1,0,1); */
  }
}
ol,ul {
  list-style-position:inside;
}
.touch-mode .b-icon {
	width: 24px;
}
.unpinned.pinner .use-pin, .pinned.pinner .use-unpin {
	display: none;
}
.i-deathmark {
	background: red;
	color: white;
	border-radius: 2px;
}
hr {
  clear:both;
}
.userdelete {
	text-align: center;
	white-space: nowrap;
	position: fixed;
	right: 6px;
	bottom: -100px;
	padding: 4px;
	-webkit-transition: bottom 0.3s;
	-o-transition: bottom 0.3s;
	transition: bottom 0.3s;
}
.ud-active.userdelete {
	bottom: 6px;
}
svg {
  -moz-transform: scale(1);
}
.olm-link {
	position: relative;
}
.got-updates.olm-link:before {
	content: '+';
	position: absolute;
	top: -2px;
	right: 2px;
	display: inline-block;
	background: #2C9435;
	height: 10px;
	width: 10px;
	line-height: 10px;
	font-size: 10px;
	color: white;
	border-radius: 5px;
	text-align: center;
	text-shadow: none;
	font-weight: bold;
	font-family: sans-serif;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
}
.code_part {
  border: #DFDFDF dashed 1px;
  background: #EFEFEF;
  width: auto;
  max-height: 400px;
  overflow: auto;
  padding: 0px;
  margin: 0px;
  padding-right: 40px;
  color: #333333;
  text-shadow: none;
}
.code_markup {
	position: absolute;
	display: inline-block;
	top: 0;
	padding-top: 16px; /* to prevent mouseleave */
	left: 0;
}
.expandee {
	z-index: 2;
	max-height: 0;
	-webkit-transition: max-height .3s;
	-o-transition: max-height .3s;
	transition: max-height .3s;
	overflow: hidden;
}
.expandee select {
	height: 150px;
}
.expanded.expandee {
	max-height: 200px;
}
textarea {
	z-index: 1;
	position: relative;
}
#delform .postertrip {
	cursor: pointer;
}
#delform .postertrip:hover {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
.trip-info-line {
	font-size: 12px;
	font-style: italic;
}
input[readonly] {
  cursor: text;
}
#popupMessage {
  position: fixed;
  top: 50px;
  padding: 20px;
  width: 40%;
  left: 30%;
  text-align: center;
  box-shadow: rgb(102, 102, 102) 0px 0px 10px;
  display: none;
}
.pmsg-form {
  margin-top: 16px;
  padding: 0 10px;
}
.pmsg-form button {
  width: 40%; 
  margin: 0 5%; 
  max-width: 150px;
}
input:disabled {
  opacity: 0.5
}
