img {
  border: none;
}
.pop {
  font-weight: bold;
}
.trial {
  font-style: italic;
}

.menu-checkbox,
.menu-checkbox:not(:checked) + div,
#showstyleswitcher, 
#showstyleswitcher:not(:checked) + div {
  display: none;
}