html, body {
  background-color: #eee;
  color: #333333;
  font-family: "Roboto", "Open Sans", "Trebuchet MS",Trebuchet,sans-serif;
  font-size: 15px;
}
.content-background {
  background-color: #eee;
}

a {
  color: rgb(97, 138, 182);
}
a:visited {
  color: rgb(97, 138, 182);
}
 a:hover {
  color: rgb(23, 53, 85);
}
.adminbar {
  clear:both;
  float:right;
  font-size: .8em;
}
.adminbar a {
  font-weight: bold;
}
.logo {
  clear:both;
  text-align:left;
  font-size:2em;
  font-weight: bold;
  color: rgb(97, 138, 182);
}
.replymode, .passvalid, .catalogmode {
  background: rgb(228, 228, 228);
  text-align: center;
  padding: 2px;
  clear: both;
  font-weight: bold;
  margin-bottom: .5em;
}

.postblock {
  background:transparent;
  color:#5F5F5F;
  font-weight:bold;
}
.footer {
  text-align:center;
  font-size:12px;
  font-family:serif;
  margin: 2em 0 0 0;
}
.dellist {
  font-weight: bold;
  text-align:center;
}
.delbuttons {
  text-align:center;
  padding-bottom:4px;
}
.managehead {
  background:#DDDDDD;
  color:#002244;
  padding:0px;
}
.postlists {
  background:#FFFFFF;
  width:100%;
  padding:0px;
  color:#800000;
}
.row1 {
  background:#DDDDDD;
  color:#002244;
}
.row2 {
  background:#CCCCCC;
  color:#002244;
}
.unkfunc {
  color: #26AF4C;
}
.rquote {
  color: #e0495b;
}
.reflink {
  font-size: .8em;
  font-weight: bold;
  padding-right: 6px;
  /* color: #fff; */
}
.filesize {
  color: #666666;
}
.filetitle {
  background:inherit;
  font-size:1.2em;
  color:#3F5264;
  font-weight:bold;
}
.postername {
  color:#004A99;
  font-weight:bold;
}
.postertrip {
  color:#FF3300;
}
.oldpost {
  color:#CC1105;
  font-weight:bold;
}
.omittedposts, .omittedposts a, .xlink {
  color:#666666 !important;
}
.reply {
  padding: 0;
}
.reply, .quick-reply-form {
  background: #F8F8F8;
  border-radius: 0px;
  border: 1px #CCC solid;
}
.reply-with-form-open {
  /*border-bottom-color: #f8f8f8;*/
}
.qrf-builtin {
  background: #f3f3f3;
}
blockquote p {
  margin: 0;
  padding: 0;
}
.doubledash {
  display: none;
  vertical-align:top;
  clear:both;
  float:left;
}
.replytitle {
  font-size: 1.2em;
  color:#002244;
  font-weight:bold;
}
.commentpostername {
  color:#004A99;
  font-weight:800;
}
.thumbnailmsg {
  font-size: .8em;
  color:#666666;
}
hr {
  border-style: solid none none none;
  border-width: 1px;
  border-color: #BBBBBB;
}
table {
  border-style: none;
}
.bottom-center, .bottom-left, .bottom-right {
  height: 0px;
}
table td {
  border-style: none;
}
.nothumb {
  background-color: #FFFFFF;
  border-style: dotted;
}

.abbrev {
  color:#666666;
}
.highlight {
  border: 1px dashed #EE6600;
}

.b-icon {
  color: dimgrey;
}
.b-icon:hover,
.icon-checkbox-wrap input[type=checkbox]:checked + .icon-with-fallback .b-icon {
  background-color: rgba(255, 255, 255, 0.67);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  color: rgb(23, 53, 85);
}
.icon-checkbox-wrap input[type=checkbox]:checked + .icon-with-fallback .b-icon {
  background: #6189b6;
  color: white;
}
.topbar-left {
  height: 0px;
}

.topbar-right {
  height: 0px;
}

.topbar-center {
  height: 0;
  /* background: rgba(0, 0, 0, 0.06); */
}

.maintable {
  width: 100%;
  table-layout: fixed;
}
#overlay_menu {
  -webkit-transition: box-shadow 0.2s, background-color 0.2s;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s;
  -o-transition: box-shadow 0.2s, background-color 0.2s;
  -moz-transition: box-shadow 0.2s, background-color 0.2s;
  box-shadow: none;
  border-radius: 0;
}

#overlay_menu:hover {
  box-shadow: 0 0 20px #ccc;
  background: rgb(247, 247, 247);
}

.menu-item {
  margin: 0 -3px 0 -3px;
  padding: 2px 5px;
  border-radius: 0px;
}

.menu-item:last-child {
  margin-bottom: -3px;
}

.menu-item:hover {
  background: rgba(97, 138, 182, 0.07);
}

.reflinkpreview, 
.qrf-floating {
  border: 1px #CCC solid;
  border-radius: none;
  box-shadow: 0 0 20px #ccc;
  border-radius: 0;
}
.qrf-floating {background: rgb(250, 250, 250);}

input[type="text"], textarea {
  border: 1px solid rgb(180, 180, 180);
}

.reflinkpreview .reply {
  box-shadow: none;
  /*margin: 0px;*/
  border: none;
}

.omittedposts a, .xlink {
  text-decoration: inherit;
  border-bottom: 1px dashed rgb(133, 133, 133);
}

.postinfo {
font-size: .9em;
color: rgb(109, 109, 109);
}

.reflink a, .reflink a:visited {
color: #696969;
text-decoration: none;
}
.reflink a:hover {
color: #000;
}
.uibutton {
  border-radius: 0;
  border: 1px solid rgba(75, 129, 187, 0.33);
  border-bottom-style: none;
  border-radius: 2px 2px 0 0;
  background: rgba(255, 255, 255, 0.5);
}
.uibutton:hover {
  background:rgba(168, 193, 220, 0.33);
}
@media only screen and (max-width: 666px) {
  .uibutton {
    border-radius: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

/* catalog */
.cat-card {
  border: 1px #CCC solid;
  background: #F8F8F8;
}
.cat-entry:hover .cat-card {
  background: #FFFFFF;
  box-shadow: 0 4px 8px #CCCCCC;
}
.nofile-removed {
  border: 2px dashed #A6A7A9;
  color: #A6A7A9;
}
.pressed {
  background: rgb(72, 106, 142);
  color: white!important;
}
.pressed:hover {
  background: rgb(97, 138, 182);
}
.actor:hover {
  color: rgb(72, 106, 142);
}
.cat-entry:after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(135,224,253,0)),to(rgb(248, 248, 248)));
  background: linear-gradient(to bottom, rgba(135,224,253,0) 0%,rgb(248, 248, 248) 100%);
}
.thumbExpanded .bigThumb {
   background: rgba(248, 248, 248, 0.28);
}
.button-group, .refresh-catalog {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button-group:hover, .refresh-catalog:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.75);
}
.bg-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.bgb-selected, .bgb-selected:hover {
  background: #BDD4EC;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.ce-gallery .namedate-overlay:hover {
  background: white;
}
::-moz-selection {
  background: rgb(97, 138, 182);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: white;
}
::selection {
  background: rgb(97, 138, 182);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: white;
}
.captchawrap {
  color: rgb(95,95,95);
}

.bubble, .thought-bubble:after, .thought-bubble:before {
  background: rgb(206, 223, 241);
}
.bubble:after {
  border-color: transparent rgb(206, 223, 241);
}

.reply::-webkit-scrollbar-corner {
  background: #f8f8f8;
  border-radius: 0 0 6px 0;
}
figure {
  background-color: rgba(97, 138, 182, 0.09);
}

.form-spinner {
  border-color: #90b3da;
  box-shadow: 0 0 88px #658ebd, inset 0 0 88px #658ebd;
}
/* ------------- Mobile menu ------------- */
.mm-brd::after {
  box-shadow: inset 0 0 0 1px #ffffff;
  background: rgba(255, 255, 255, 0.75);
}
.mm-cat::after {
  background: #eeeeee;
}
.mm-cat:not(.mmc-expanded)::after {
  box-shadow: 1px 1px 0 #6188b6, 2px 2px 0 #eeeeeed6, 3px 3px 0 #6188b6, 4px 4px 0 #eeeeee8c;
}
.mmc-expanded::after {
  background: #c7dbf3;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), inset -1px -1px 0 0 #93c4ff;
}
#mm-circle, .mm-expanded-full {
  background: #6189b6;
}
.mm-bars {
  color: rgba(255, 255, 255, 0.87);
}
.mm-toggle-options, #mmb-_options {
  color: white!important;
}
#mmb-_options a, #mmb-_options a:hover, #mmb-_options a:visited {
  color: #d5e8ff;
}
.deleted.reply {
  border-style: dashed;
  background: #f8efef;
  box-shadow: none;
}

.post-menu {
  border: 1px solid #cccccc;
  background: #f8f8f8;
}
.posthead .post-menu {
  border-top: none;
}
.post-menu li:hover {
  background: rgba(97, 138, 182, 0.2);
}

.salient {
  background: #6188b6;
  color: white!important;
}

.spoiler-cover {
  background: rgba(199, 225, 255, 0.53);
  color: rgba(0, 0, 0, 0.5);
}

.drop-area {
  color: #616161;
}
.add-files:hover {
  color: #000000;
}
.fe-noimg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-100%, #4481c3), color-stop(150%, transparent));
  background: linear-gradient(to bottom, #4481c3 -100%, transparent 150%);
  color: white;
}
.fe-pop-button svg {
  background: #729bc7;
  color: white;
}
.fe-pop-button:hover svg {
  background-color: #486380;
  color: white;
}
.file-entry:hover, .fe-expanded  {
  background: rgba(97, 138, 182, 0.09);
}
.file-entry {
  box-shadow: inset 0 0 0 1px rgba(59, 78, 99, 0.23);
}
.fe-info {
  color: rgba(0, 0, 0, 0.45);
}
.quick-reply-form.qrf-active {
  background: #e5eef9;
  border-color: #9fb0c3;
}
/* --------------------------------------- Styled buttons --------------------------------------- */
.styled-button {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dcdcdc));
  background: linear-gradient(to bottom, #f6f6f6 0%, #dcdcdc 100%);
  border-radius: 1.66px;
  padding: 3px 8px;
}
.simplified-send-row .styled-button {
  padding: 4px 0;
}
.styled-button:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.44);
}
.styled-button, 
.styled-button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.33);
}
.styled-button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), to(#dcdcdc));
  background: linear-gradient(to top, #f6f6f6 0%, #dcdcdc 100%);
}
.styled-button:active,
.styled-button:focus {
  outline: none;
}
.primary.styled-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#85add8), to(#6785a7));
  background: linear-gradient(to bottom, #85add8 0%, #6785a7 100%);
  color: white;
}
.primary.styled-button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#85add8), to(#6785a7));
  background: linear-gradient(to top, #85add8 0%, #6785a7 100%);
}
.bad-button.styled-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#d88585), to(#a76767));
  background: linear-gradient(to bottom, #d88585 0%, #a76767 100%);
  color: white;
}
.bad-button.styled-button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#d88585), to(#a76767));
  background: linear-gradient(to top, #d88585 0%, #a76767 100%);
}
/* -------------------------------------- /Styled buttons --------------------------------------- */