html, body {
	background-color: #EEEEEE;
	color: #333333;
	font-family: "Trebuchet MS",Trebuchet,serif;
}
a {
	color: #FF6600;
}
a:visited {
	color: #FF6600;
}
a:hover {
	color: #0066FF;
}
.adminbar {
	clear:both;
	float:right;
	font-size: .8em;
}
.adminbar a {
	font-weight: bold;
}
.logo {
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight: bold;
	color:#FF6600;
}
.replymode, .passvalid {
	background:#DDDDDD;
	text-align:center;
	padding:2px;
	color:#2266AA;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
}
.catalogmode {
	background: #0040E0;
	text-align: center;
	padding: 2px;
	color: #DDDDDD;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
}
.postblock {
	background:transparent;
	color:#002244;
	font-weight:bold;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;
}
.managehead {
	background:#DDDDDD;
	color:#002244;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#DDDDDD;
	color:#002244;
}
.row2 {
	background:#CCCCCC;
	color:#002244;
}
.unkfunc {
	color:#789922;
}
.rquote {
  color: #e0727f;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
}
.filesize {
	text-decoration:none;
	color: #666666;
	font-size: .8em;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#002244;
	font-weight:bold;
}
.postername {
	color:#004A99;
	font-weight:bold;
}
.postertrip {
	color:#FF3300;
}
.oldpost {
	color:#CC1105;
	font-weight:bold;
}
.omittedposts a, .xlink {
	color:#666666;
	text-decoration: inherit;
	border-bottom: 1px dashed rgb(133, 133, 133);
}
.quick-reply-form, .reply {
	background:#DDDDDD;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
}
.quick-reply-form.qrf-active {
	background: #e0c4b2;
}
.reply {
	padding: 0;
}
.qrf-floating {
	border: 1px #666 dashed;
}
blockquote p {
	margin: 0;
	padding: 0;
}
.doubledash {
	display: none;
	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#002244;
	font-weight:bold;
}
.commentpostername {
	color:#004A99;
	font-weight:800;
}
.thumbnailmsg {
	font-size: .8em;
	color:#666666;
}
hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}
table {
	border-style: none;
}
table td {
	border-style: none;
}
.nothumb {
	background-color: transparent;
	border-style: dotted;
	margin: .3em .5em;
}

.abbrev {
	color:#666666;
}
.highlight {
	background:#EEDACB;
	color:#333333;
	border: 2px dashed #EE6600;
	border-radius: 5px;
}

.b-icon {
	color: white;
	background-color: #aba8a6;
}
.b-icon:hover {
	background-color: #777;
}
.icon-checkbox-wrap input[type=checkbox]:checked + .icon-with-fallback .b-icon,
.b-icon.pressed {
	background: #d65500;
}

.topbar-left {
	height: 0px;
}

.topbar-right {
	height: 0px;
}

.topbar-center {
	height: 0px;
}

.content-background {
		background-color: #EEEEEE;
}

.maintable {
	width: 100%;
	table-layout: fixed;
}

/* catalog */
.cat-card {
	background: #DDDDDD;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
}
.cat-entry:hover .cat-card {
	background: #ECECEC;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.18);
}
.nofile-removed {
	border: 2px dashed #A6A7A9;
	color: #A6A7A9;
}
.hidden-on {
	background: #191919;
	color: white!important;
}
.hidden-on:hover {
	background: #A0501C;
}
.actor:hover {
	color: #FF6600;
}
.cat-entry:after {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(135,224,253,0)),to(rgb(221, 221, 221)));
	background: linear-gradient(to bottom, rgba(135,224,253,0) 0%,rgb(221, 221, 221) 100%);
	border-radius: 0 0 4px 4px;
}
.bigThumb {
	border-radius: 7px;
}
.thumbExpanded .bigThumb {
	background: rgba(221, 221, 221, 0.56);
}
.button-group, .refresh-catalog {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button-group:hover, .refresh-catalog:hover {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.43);
	color: #fff;
}
.bg-button {
	color:rgba(255, 255, 255, 0.91);
}
.bg-button:hover {
	background-color: rgba(0, 64, 224, 0.59);
	color: #fff; 
}
.bgb-selected, .bgb-selected:hover {
	background: #FF6600;
	color: white!important;
}

.bubble, .thought-bubble:after, .thought-bubble:before {
	background: #E6E6E6;
}
.bubble:after {
	border-color: transparent #E6E6E6;
}
.bubble:not(.thought-bubble):before {
	content: "";
	position: absolute;
	top: 13px;
	left: -13px;
	display: block;
	width: 0;
	z-index: 0;
	border-width: 7px 13px 7px 0;
}
.reverse-caption-bubble:not(.thought-bubble)::before {
	right: -13px;
	left: auto;
	border-width: 7px 0 7px 13px;
}
.bubble, .thought-bubble:after, .bubble:before {
	border-color: transparent #969696;
}
.bubble, .thought-bubble:after, .thought-bubble:before {
	border: 1px solid #969696;
}

.reply::-webkit-scrollbar-track,
.reply::-webkit-scrollbar-thumb {
		border-radius: 4px;
}
.reply::-webkit-scrollbar-corner {
	background: #dddddd;
}
.uibutton {
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px 4px 0 0;
	border-bottom-style: none;
	padding: 1.5px 10px 0.5px 10px;
}
@media only screen and (max-width: 666px) {
  .uibutton {
    border-radius: 4px;
    border-bottom-style: solid;
  }
}
.uibutton:hover {
	background: rgb(255, 255, 255);
	border-color: rgba(0, 0, 0, 0.44);
}
.uib-spoiler:before {
  line-height: 18px;
}

/* ------------- Mobile menu ------------- */
.mm-brd::after {
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.45);
	background: rgba(255, 255, 255, 0.45);
}
.mm-cat, .mm-brd {
	color: white!important;
}
.mm-cat::after {
	background: #ff6500;
}
.mm-cat:not(.mmc-expanded)::after {
	box-shadow: 1px 1px 0 #0240e0, 2px 2px 0 rgba(255, 101, 0, 0.9), 3px 3px 0 #0240e0, 4px 4px 0 rgba(255, 101, 0, 0.7);
}
.mmc-expanded::after {
	background: #ce783f;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), inset -1px -1px 0 0 #86a8ff;
}
#mm-circle, .mm-expanded-full {
	background: #0240e0;
}
.mm-bars {
	color: rgba(255, 255, 255, 0.87);
}
.mm-toggle-options, #mmb-_options {
	color: white!important;
}
#mmb-_options a, #mmb-_options a:hover, #mmb-_options a:visited {
	color: #ffb686;
}
.deleted.reply {
	border-style: dashed;
	border-width: 2px;
	background: #f8efef;
	box-shadow: none;
}

.post-menu {
	border: 1px solid #cccccc;
	border-radius: 5px;
	overflow: hidden;
}
.post-menu li:hover {
	background: #dddddd;
}
.reply .post-menu {
	border-radius: 0 5px 5px 5px
}
figure .post-menu {
	border-radius: 0 0 5px 5px;
}

.salient {
	background: #ff6500;
	color: white!important;
}

.spoiler-cover {
	background: rgba(206, 206, 206, 0.7);
	color: rgb(249, 101, 0);
}

.drop-area {
	color: #616161;
}
.add-files:hover {
	color: #0066FF;
}
.fe-noimg {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(-100%, #0066ff), color-stop(150%, transparent));
	background: linear-gradient(to bottom, #0066ff -100%, transparent 150%);
	color: white;
}
.fe-pop-button svg {
	color: white;
}
.file-entry:hover, .fe-expanded  {
	background: #dddddd;
}
.file-entry {
	box-shadow: inset 0 0 0 1px #cccccc;
}
.fe-info {
	color: rgba(0, 0, 0, 0.45);
}

a.over-boardlabel {
  background: rgb(255, 101, 0);
  color: #fff;
}
a.over-boardlabel:hover {
  background: #06f;
}