html, body {
	background-color: #EEEEEE;
	color: #333333;
	font-size: 90%;
	font-family: "Trebuchet MS",Trebuchet,serif;
}
a {
	color: #FF6600;
}
h3{
	float:center;
}

a:hover {
	color: #0066FF;
}
.logo {
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight: bold;
	color:#FF6600;
	/*width:100%;*/
}
.rules {
	font-size:0.7em;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}
.row1 {
	background:#DDDDDD;
	color:#002244;
}
.row2 {
	background:#CCCCCC;
	color:#002244;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
}
blockquote {
	margin: .5em .5em .5em 1em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}
table {
	border-style: none;
}
table td {
	border-style: none;
}

.category {
	margin-bottom: 9px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px 5px 5px 5px;
	font-size: .9em;
}

.header {
	background: #DDDDDD;
	padding: 0px 5px 0px 5px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 0.9em;
}

.list {
	padding: 0px 5px 5px 5px;
}

.content {
	margin-bottom: 9px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px 5px 5px 5px;
	font-size: .9em;
}

.newssub {
	background: #DDDDDD;
	padding: 0px 5px 0px 5px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 14px;
}


.permalink {
        padding: 2px;
        text-align: right;
}

.permalink a {
        text-decoration: none;
	font-size: 14px;
}
