body {
	font-size: 75%;
	width: 90%;
	background-color: #2C333D;
	color: #C7C7C7;
	font-family: sans-serif;
}


a, a:visited {
	text-decoration: none;
	color: rgb(55, 201, 153);
}

a:hover {
color: rgb(54, 171, 133);
}

h2 {
	margin: 0px;
	padding: 2px;
	color: rgb(180, 180, 180);
}

h2 a {
	text-decoration: none;
}

h1, h3, .menu {
	font-family: Verdana,Tahoma,sans-serif;
}

h1 {
	margin: 0;
	text-align: center;
	margin-top: 1em;
}

h3 {
	margin: 0;
	text-align: center;
	font-weight: normal;
	font-size: medium;
}

.menu {
	margin-top: 1em;
	text-align: center;
}

.content {
	margin-left: 3em;
	padding: 0px;      
	background: #363F4C;  border: 1px rgb(31, 37, 44) solid;
}

.newssub {
	padding: 2px;
	position: absolute;
    background-repeat: repeat-x;
}

.permalink {
	padding: 2px;
	text-align: right;
	display: block;
}

.sitelogo {
	background: url(/images/0chan-modern.png);
	width: 420px;
	height: 150px;
	margin-top: 8px;
}