body {
	margin: 8px;
}

a, a:visited {
	text-decoration: none;
	color: rgb(97, 138, 182);
}

a:hover {
color: rgb(83, 156, 235);
}

h1, h2 {
	text-align: left;
	background-repeat: repeat-x;
	background: #F8F8F8;
	border: 1px #CCC solid;
	border-bottom: none;
}

h1 {
	padding-left: 3px;
	margin-top: 0px;
	font-size: 150%;
	color: #000;
}

h2 {
	font-size: 100%;
	margin-top: 1em;
}

.plus {
	float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 2px 5px 3px 5px;
	margin: 0px 0px;
	cursor: hand;
	cursor: pointer;
}

.plus:hover {
}

ul {
	list-style: none; 
	padding-left: 0px;
	margin: 0px;      
	background: #F8F8F8;
	border: 1px #CCC solid;
	border-top: none;
}

li {
	margin: 0px;
	padding-left: 3px;
}

li:hover {
	background: rgba(97, 138, 182, 0.07);
}

li:last-shild {
	border-radius: 0 0 3px 3px;
}