body {
	margin: 8px;
}

a {
	text-decoration: none;
	color: #550;
}

h1, h2 {
	background: #DAF0D6;
	text-align: left;
  background-image: repeating-linear-gradient(-45.5deg, transparent 0px, transparent .6px, #79797936 2px, transparent 3.4px, transparent 4px), -webkit-gradient(linear, left top, left bottom, from(#b3d928), color-stop(150%, #5aa52a));
  background-image: repeating-linear-gradient(-45.5deg, transparent 0px, transparent .6px, #79797936 2px, transparent 3.4px, transparent 4px), linear-gradient(to bottom, #b3d928 0%, #5aa52a 150%);
	background-repeat: repeat-x;
}

h1 {
	margin-top: 0px;
	font-size: 150%;
	color: #000;
}

h2 {
	font-size: 100%;
	margin-top: 1em;
}

.plus {
	float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 1px 4px 2px 4px;
	margin: 0px 0px;
	background: transparent;
	color: #000;
	border: 1px solid #117743;
	cursor: hand;
	cursor: pointer;
}

.plus:hover {
	background: #a4d028;
	border: 1px solid #99c72b;
}

ul {
	list-style: none; 
	padding-left: 0px;
	margin: 0px;
}

li {
	margin: 0px;
	padding-left: 3px;
	background: #e6ffcd;
}

li:hover {
	background: #f6fff6;
}