sa {
	color: #FF6600;
}
a:hover {
	color: #0066FF;
}

h2,h1 {
	margin-bottom: 0px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px 5px 5px 5px;
	font-size: .9em;
	padding-left: 5px;
	font-size: 16px;
}

h2 {
	background: #DDDDDD;
	border-bottom: 1px solid #CCCCCC;
	font-size: 0.9em;
}

.plus {
        float: right;
        font-size: 8px;
        font-weight: normal;
        padding: 1px 4px 2px 4px;
        margin: 0px 0px;
        background: #CCCCCC;
        background-repeat: repeat-x;
        color: #000;
        border: 1px solid #BBBBBB;
        cursor: hand;
        cursor: pointer;
}


ul {
        list-style: none;
        padding-left: 3px;
        margin: 0px;
	margin-left: 3px;
	border-left: solid 1px #999999;
}

li {
        margin: 0px;
        background: #EEEEEE;
}

li:hover {
        background: #F3F3F3;
}

/*li a {
        display: inline;
        width: 100%;
}*/


