body {
	margin: 8px;
}

a {
	text-decoration: none;
	color: #005;
}

h1, h2 {
	background: #DDDDEE;
	text-align: left;
  background-image: repeating-linear-gradient(-45.5deg, transparent 0px, transparent .6px, #4e4e4e3b 2px, transparent 3.4px, transparent 4px), -webkit-gradient(linear, left top, left bottom, from(#2185D8), color-stop(150%, #2A3DA2));
  background-image: repeating-linear-gradient(-45.5deg, transparent 0px, transparent .6px, #4e4e4e3b 2px, transparent 3.4px, transparent 4px), linear-gradient(to bottom, #2185D8 0%, #2A3DA2 150%);
	background-repeat: repeat-x;
}

h1 {
	margin-top: 0px;
	font-size: 150%;
	color: #FFF;
}

h2 {
	font-size: 100%;
	margin-top: 1em;
}

.plus {
	float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 1px 4px 2px 4px;
	margin: 0px 0px;
	background: transparent;
	color: #000;
	border: 1px solid #00137F;
	cursor: hand;
	cursor: pointer;
}

ul {
	list-style: none; 
	padding-left: 0px;
	margin: 0px;
}

li {
	margin: 0px;
	padding-left: 3px;
	background: #D6E7FF;
}

li:hover {
	background: #EFF6FF;
}