html {
  background-color: #F6FFEC;
  background-image: 
/*   repeating-linear-gradient(-45.5deg, transparent 0px, transparent .6px, #00000017 2px, transparent 3.4px, transparent 4px),  */
  linear-gradient(to top, #e6ffcc 0%, #e7ffcf 90px, #e7ffcf 140px, #f6ffed 200px, #f6ffed 100%);
}
body {
  font-size:10pt !important;
  font-family:"Trebuchet MS",Trebuchet,serif;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px !important;
}
a {
  background:inherit;
  color:#345C34;
  text-decoration:underline;
  font-family:"Trebuchet MS",Trebuchet,serif;
}
a:visited {
  background:inherit;
  color:#345C34;
}
a:hover {
  color:#117743;
  text-decoration:underline;
}
.adminbar {
  text-align:right;
  background:inherit;
  clear:both;
  float:right;
}
.logo {
  clear:both;
  text-align:center;
  background:inherit;
  font-size:24pt;
  color:#117743;
  width:100%;
}
.theader {
  background:#00E010;
  color:#FFFFFF;
  width:100%;
}
.postarea {
        background:inherit;
}
.rules {
  font-size:10px;
  font-family:sans-serif;
}
.postblock {
  background:#DDEEDD;
  color:#000000;
  font-weight:800;
}
.footer {
  text-align:center;
  font-size:10px;
  font-family:sans-serif;
}
.passvalid {
  background:#99EE88;
  text-align:center;
  width:100%;
  color:#ffffff;
}
.dellist {
  background:inherit;
  text-align:center;
}
.delbuttons {
  background:inherit;
  text-align:center;
  padding-bottom:4px;

}
.managehead {
  background:#0FE18F;
  color:#000000;
  font-family:sans-serif;
  font-size:14px;
  padding:0px;
}
.postlists {
  background:#FFFFFF;
  width:100%;
  padding:0px;
  color:#000000;
}
.row1 {
  background:#9AF6D2;
  font-family:sans-serif;
  font-size:12px;
  color:#000000;
}
.row2 {
  background:#FFFFFF;
  font-family:sans-serif;
  font-size:12px;
  color:#000000;
}
.unkfunc {
  color:#117743;
}
.rquote {
  color: #e0727f;
}
.filesize {
  font-size:12px;
  font-family:sans-serif;
  text-decoration:underline;
  padding-left:3em;
}
.filetitle {
  background:inherit;
  font-size:18px;
  color:#0F5D0C;
  font-weight:800;
}
.postername {
  background:inherit;
  color:#117743;
  font-weight:bold;
}
.postername a {
  font-family:inherit;
}
.oldpost {
  background:inherit;
  font-size:18px;
  color:#0F5D0C;
  font-weight:800;
}
.omittedposts {
  background:inherit;
  font-size:14px;
  color:#333333;
  font-weight:800;
}
.quick-reply-form, .reply {
  background:#FAFFF4;
  border: solid 1px #669966;
  border-radius: 7px;
}
.qrf-active.quick-reply-form {
  background: #e2f1e3;
}
.reply {
  padding: 4px;
}
.postmessage {
  word-wrap: break-word;
}

.doubledash {
  vertical-align:top;
  clear:both;
  float:left;
}
.replytitle {
  background:inherit;
  font-size:18px;
  color:#0F5D0C;
  font-weight:800;
}
.commentpostername {
  background:inherit;
  font-size:12px;
  color:#117743;
  font-weight:800;
}
.thumbnailmsg {
  background:inherit;
  font-size:9px;
  color:#000000;
}

.highlight {
  background: #dcfd8a;
  border: 2px dashed #117743;
  -moz-border-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}

.replymode {
  background:#DAF0D6;
  text-align:center;
  padding:2px;
  color:#000000;
  width:100%;
  font-weight: bold;
}
.catalogmode {
  background:#DAF0D6;
  text-align:center;
  padding:2px;
  color:#000000;
  width:100%;
  font-weight: bold;
  border: solid 1px #669966;
  -moz-border-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}

.b-icon {
  color: white;
  background-color: #125F13;
}
.b-icon:hover {
  background-color: #7AA209;
}
icon-checkbox-wrap input[type=checkbox]:checked + .icon-with-fallback .b-icon,
.b-icon.pressed {
  background: rgba(228, 253, 162, 0.74);
  color: #357736;
  box-shadow: inset 0 0 2px 1px #357736;
}

.topbar-left {
  background: url('images/summer/topbar-left.png');
}

.topbar-center {
  background: url('images/summer/topbar-center.png');
}

.topbar-right {
  background: url('images/summer/topbar-right.png');
}

.border-left {
  background: url('images/summer/border-left.png');
}

.border-right {
  background: url('images/summer/border-right.png');
}

.bottom-left {
  background: url('images/summer/bottom-left.png');
}

.bottom-right {
  background: url('images/summer/bottom-right.png');
}

.bottom-center {
  background: url('images/summer/bottom-center.png');
}

.content-background {
  background-color: #FEFFF9;
}

.maintable {
  width: 98%;
  table-layout: fixed;
}

@media only screen and (max-width: 768px) {
  blockquote {
    margin: 2px 4px;
  }
}
.captchawrap {
  color: rgb(17, 119, 67);
}

.bubble, .thought-bubble:after, .thought-bubble:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6ffec), to(#e7ffce));
  background: linear-gradient(to bottom, #f6ffec 0%, #e7ffce 100%);
  color: black;
}
.bubble:after {
  border-color: transparent rgb(238, 255, 221);
}
.bubble:not(.thought-bubble):before {
  content: "";
  position: absolute;
  top: 13px;
  left: -13px;
  display: block;
  width: 0;
  z-index: 0;
  border-width: 7px 13px 7px 0;
}
.reverse-caption-bubble.bubble:not(.thought-bubble):before {
  left: auto;
  right: -13px;
  border-width: 7px 0 7px 13px ;
}
.bubble, .thought-bubble:after, .bubble:before {
  border-color: transparent #669966;
}
.bubble, .thought-bubble:after, .thought-bubble:before {
  border: 1px solid #669966;
}

.reply::-webkit-scrollbar-track,
.reply::-webkit-scrollbar-thumb {
    border-radius: 6px;
}
.reply::-webkit-scrollbar-corner {
  background: #fafff4;
  border-radius: 0 0 6px 0;
}
::-webkit-scrollbar-thumb:active {
  background: #669966 !important;
}

/* --------------------------------------- Styled buttons --------------------------------------- */
.styled-button {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dcdcdc));
  background: linear-gradient(to bottom, #f6f6f6 0%, #dcdcdc 100%);
  border-radius: 1.66px;
  padding: 3px 8px;
}
.simplified-send-row .styled-button {
  padding: 4px 0;
}
.styled-button:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.44);
}
.styled-button, 
.styled-button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.33);
}
.styled-button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), to(#dcdcdc));
  background: linear-gradient(to top, #f6f6f6 0%, #dcdcdc 100%);
}
.styled-button:active,
.styled-button:focus {
  outline: none;
}
.primary.styled-button {
  color: white;
  text-shadow: 0 1px 2px #243e0e;
}
.primary.styled-button svg {
  -webkit-filter: drop-shadow( 0 1px 1px #243e0e);
          filter: drop-shadow( 0 1px 1px #243e0e);
}
.primary.styled-button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.primary.styled-button:active {
  -webkit-filter: brightness(.9);
          filter: brightness(.9);
}
.bad-button.styled-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#d88585), to(#a76767));
  background: linear-gradient(to bottom, #d88585 0%, #a76767 100%);
  color: white;
}
.bad-button.styled-button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#d88585), to(#a76767));
  background: linear-gradient(to top, #d88585 0%, #a76767 100%);
}
/* -------------------------------------- /Styled buttons --------------------------------------- */
.uibutton {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 0 0;
  border-bottom-style: none;
  padding: 1.5px 10px 0.5px 10px;
}
.uibutton:hover {
  background: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.44);
  text-decoration: none;
}
.uib-spoiler:before {
  line-height: 18px;
}

.mm-brd::after {
  box-shadow: inset 0 0 0 1px #2a2a2a;
  background: rgba(42, 42, 42, 0.24);
}
.mm-cat::after {
  background: #fcfdff;
}
.mm-cat:not(.mmc-expanded)::after {
  box-shadow: 1px 1px 0 #5ba02c, 2px 2px 0 rgba(252, 253, 255, 0.79), 3px 3px 0 #5ba02c, 4px 4px 0 rgba(252, 253, 255, 0.53);
}
.mmc-expanded::after {
  background: rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.55), inset -1px -1px 0 0 rgb(106, 181, 54);
}
.mmc-expanded, .mm-brd {
  color: white!important;
}
#mm-circle, .mm-expanded-full {
  background: #5ca02c;
}
#mm-circle {
  overflow: visible;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  -webkit-transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, -webkit-transform;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform;
}
#mm-circle:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.mm-bars, #mmb-_options a, #mmb-_options a:visited {
  color: rgb(255, 255, 255);
}
.mm-toggle-options, #mmb-_options {
  color: rgba(255, 255, 255, 0.66) !important;
}
#mmb-_options a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.mm-item, .mm-item:visited {
  color: #427b1b;
}

.content {
  z-index: 0;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.8), 0 8px 5px #0000009e;
  border-radius: 0 0 8px 8px;
  position: relative;
  margin: 0 calc(1% + 10px) 83px calc(1% + 10px);
  padding: 9px 12px;
  padding-top: 0;
}
.decor-header {
  display: block!important;
  width: calc(100% + 24px);
  margin: 0 -12px 0 -12px;
  padding-bottom: 17px;
  height: 30px;
  overflow: hidden;
  position: relative;
}
.decor-header::before {
  content:'';
  box-shadow: 0 -2px 4px 4px #3e4552;
  height: 30px;
  width: 100%;
  position: absolute;
}
.decor-header::before, .styled-button.primary {
  background-image: repeating-linear-gradient(-45.5deg, transparent 0px, transparent .6px, #79797936 2px, transparent 3.4px, transparent 4px), -webkit-gradient(linear, left top, left bottom, from(#b3d928), to(#5aa52a));
  background-image: repeating-linear-gradient(-45.5deg, transparent 0px, transparent .6px, #79797936 2px, transparent 3.4px, transparent 4px), linear-gradient(to bottom, #b3d928 0%, #5aa52a 100%);
}
.content::after {
  content:'';
  height: 80px;
  border-radius: 8px 8px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d8d8d8));
  background: linear-gradient(to bottom, #fff 0%, #d8d8d8 100%);
  opacity: 0.5;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -83px;
  box-shadow: 0 0 6px black;
}
@media only screen and (max-width: 666px) {
  .uibutton {
    border-radius: 4px;
    border-bottom-style: solid;
  }
  .content {
    margin: 0;
    padding-bottom: 16px!important;
  }
  .decor-header {
    width: 100%;
    margin: 0;
  }
}
.uibutton:hover {
	background: rgb(255, 255, 255);
	border-color: rgba(0, 0, 0, 0.44);
}
.post-menu {
	border: 1px solid #cccccc;
	border-radius: 5px;
	overflow: hidden;
}
.post-menu li:hover {
	background: #DDEEDD;
}
.reply .post-menu {
	border-radius: 0 5px 5px 5px
}
figure .post-menu {
	border-radius: 0 0 5px 5px;
}
