body {
  background: black;
  color: white;
  font-family: Roboto, sans-serif;
}
.hf {display: inline-block;}
.fl {float: left;}
input:not([type='submit']) {
  border: 2px solid #D8D8D8;
  border-radius: 2px;
  text-align: center;
  background: transparent;
  outline: none;
  color: white;
}
input:not([type='submit']):focus {
  border-color: #00ff7e;
}
form {text-align: center;}
input[type=submit] {
  margin-top: 5px;
  font-size: 30px;
  padding: 4px 14px;
  border: none;
  background: #bf76ff;
  border-radius: 2px;
  transition-property: box-shadow, transform, filter;
  transition-duration: 0.5s;
}
input[type=submit]:hover {
  box-shadow: inset 0 22px 38px #00ff7e;
}
input[type=submit]:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
.newssub {
  color: #bf76ff;
}